# Outputs Dimmension-tables
Provides outputs for summary data

In [1]:
import pandas as pd
import csv

# contains 2016-2017 and 2017-2018
dimensions1_df = pd.read_csv("./ELSI_csv_export_6374253004417906414779.csv")
print("Columns: ", dimensions1_df.columns.values, "\n" )

Columns:  ['School Name' 'State Name [Public School] Latest available year'
 'State Name [Public School] 2018-19' 'State Name [Public School] 2017-18'
 'State Name [Public School] 2016-17'
 'State Abbr [Public School] Latest available year'
 'School Name [Public School] 2018-19'
 'School Name [Public School] 2017-18'
 'School Name [Public School] 2016-17'
 'County Name [Public School] 2018-19'
 'County Name [Public School] 2017-18'
 'County Name [Public School] 2016-17'
 'Total Students All Grades (Excludes AE) [Public School] 2018-19'
 'Total Students All Grades (Excludes AE) [Public School] 2017-18'
 'Total Students All Grades (Excludes AE) [Public School] 2016-17'
 'Total Students All Grades (Includes AE) [Public School] 2018-19'
 'Total Students All Grades (Includes AE) [Public School] 2017-18'
 'Total Students All Grades (Includes AE) [Public School] 2016-17'
 'Free Lunch Eligible [Public School] 2018-19'
 'Free Lunch Eligible [Public School] 2017-18'
 'Free Lunch Eligible [Public School] 2016-17'
 'Reduced-price Lunch Eligible Students [Public School] 2018-19'
 'Reduced-price Lunch Eligible Students [Public School] 2017-18'
 'Reduced-price Lunch Eligible Students [Public School] 2016-17'
 'Free and Reduced Lunch Students [Public School] 2018-19'
 'Free and Reduced Lunch Students [Public School] 2017-18'
 'Free and Reduced Lunch Students [Public School] 2016-17'
 'Direct Certification [Public School] 2018-19'
 'Direct Certification [Public School] 2017-18'
 'Direct Certification [Public School] 2016-17'
 'American Indian/Alaska Native - male [Public School] 2018-19'
 'American Indian/Alaska Native - male [Public School] 2017-18'
 'American Indian/Alaska Native - male [Public School] 2016-17'
 'American Indian/Alaska Native - female [Public School] 2018-19'
 'American Indian/Alaska Native - female [Public School] 2017-18'
 'American Indian/Alaska Native - female [Public School] 2016-17'
 'Asian or Asian/Pacific Islander - male [Public School] 2018-19'
 'Asian or Asian/Pacific Islander - male [Public School] 2017-18'
 'Asian or Asian/Pacific Islander - male [Public School] 2016-17'
 'Asian or Asian/Pacific Islander - female [Public School] 2018-19'
 'Asian or Asian/Pacific Islander - female [Public School] 2017-18'
 'Asian or Asian/Pacific Islander - female [Public School] 2016-17'
 'Hispanic - male [Public School] 2018-19'
 'Hispanic - male [Public School] 2017-18'
 'Hispanic - male [Public School] 2016-17'
 'Hispanic - female [Public School] 2018-19'
 'Hispanic - female [Public School] 2017-18'
 'Hispanic - female [Public School] 2016-17'
 'Black - male [Public School] 2018-19'
 'Black - male [Public School] 2017-18'
 'Black - male [Public School] 2016-17'
 'Black - female [Public School] 2018-19'
 'Black - female [Public School] 2017-18'
 'Black - female [Public School] 2016-17'
 'White - male [Public School] 2018-19'
 'White - male [Public School] 2017-18'
 'White - male [Public School] 2016-17'
 'White - female [Public School] 2018-19'
 'White - female [Public School] 2017-18'
 'White - female [Public School] 2016-17'
 'Hawaiian Nat./Pacific Isl. - male [Public School] 2018-19'
 'Hawaiian Nat./Pacific Isl. - male [Public School] 2017-18'
 'Hawaiian Nat./Pacific Isl. - male [Public School] 2016-17'
 'Hawaiian Nat./Pacific Isl. - female [Public School] 2018-19'
 'Hawaiian Nat./Pacific Isl. - female [Public School] 2017-18'
 'Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17'
 'Two or More Races - male [Public School] 2018-19'
 'Two or More Races - male [Public School] 2017-18'
 'Two or More Races - male [Public School] 2016-17'
 'Two or More Races - female [Public School] 2018-19'
 'Two or More Races - female [Public School] 2017-18'
 'Two or More Races - female [Public School] 2016-17'
 'Pupil/Teacher Ratio [Public School] 2018-19'
 'Pupil/Teacher Ratio [Public School] 2017-18'
 'Pupil/Teacher Ratio [Public School] 2016-17']

In [2]:
dimensions1_df

,School Name,State Name [Public School] Latest available year,State Name [Public School] 2018-19,State Name [Public School] 2017-18,State Name [Public School] 2016-17,State Abbr [Public School] Latest available year,School Name [Public School] 2018-19,School Name [Public School] 2017-18,School Name [Public School] 2016-17,County Name [Public School] 2018-19,...,Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17,Two or More Races - male [Public School] 2018-19,Two or More Races - male [Public School] 2017-18,Two or More Races - male [Public School] 2016-17,Two or More Races - female [Public School] 2018-19,Two or More Races - female [Public School] 2017-18,Two or More Races - female [Public School] 2016-17,Pupil/Teacher Ratio [Public School] 2018-19,Pupil/Teacher Ratio [Public School] 2017-18,Pupil/Teacher Ratio [Public School] 2016-17
0,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MASSACHUSETTS,MASSACHUSETTS,MASSACHUSETTS,MA,1 LT Charles W. Whitcomb School,1 LT Charles W. Whitcomb School,1 LT Charles W. Whitcomb School,Middlesex County,...,0,23,20,22,18,23,26,11.7,11.01,11.22
1,10TH STREET SCHOOL,Washington,WASHINGTON,WASHINGTON,WASHINGTON,WA,10th Street School,10th Street School,10th Street School,Snohomish County,...,â€“,15,12,11,9,9,6,24.86,24.38,24.79
2,112 ALC INDEPENDENT STUDY,Minnesota,MINNESOTA,MINNESOTA,MINNESOTA,MN,112 ALC Independent Study,112 ALC Independent Study,112 ALC AFTER SCHOOL & SUMMER SCH,Carver County,...,0,3,3,0,0,0,0,â€,â€,â€
3,112 ALC MIDDLE SCHOOL,Minnesota,MINNESOTA,MINNESOTA,MINNESOTA,MN,112 ALC MIDDLE SCHOOL,112 ALC MIDDLE SCHOOL,112 ALC MIDDLE SCHOOL,Carver County,...,â€“,15,15,15,12,14,13,â€,â€,742.31
4,112 ALC SEAT-BASED,MINNESOTA,MINNESOTA,MINNESOTA,â€,MN,112 ALC Seat-Based,112 ALC Seat-Based,â€,Carver County,...,â€,0,0,â€,0,0,â€,â€,â€,â€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103985,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103987,â€ indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103988,â€“ indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103989,â€¡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN