# Non Fiscal State level Data

We are opening all the csv files in the following folders

1. state/2017-2018/data/membership/
2. state/2018-2019/Data/Membership

In [13]:
import pandas as pd
from zipfile import ZipFile

myfiles = ["state/2017-2018/data/membership/ccd_sea_052_1718_l_1a_083118.zip",
           "state/2018-2019/Data/Membership/ccd_sea_052_1819_l_1a_091019.zip",
           "state/2016-2017/data/membership/ccd_sea_052_1617_l_1a_11212017_csv.zip"]

membership_df = pd.DataFrame() 

for currentfile in myfiles:
    print("Opening file:", currentfile, "\n" )
    zip_file = ZipFile(currentfile)

    for text_file in zip_file.infolist():
        if text_file.filename.endswith('.csv'):
            print("Adding csv to membership_df ", text_file.filename, "\n" )
            myfile_csv = pd.read_csv(zip_file.open(text_file.filename))
            membership_df = pd.concat([membership_df, myfile_csv])


# Print information of membership_df
print("Years ", membership_df.SCHOOL_YEAR.unique(), "\n" )
print("Columns: ", membership_df.columns.values, "\n" )
print("TOTAL_INDICATOR: ", membership_df.TOTAL_INDICATOR.unique(), "\n" )

membership_df

Opening file: state/2017-2018/data/membership/ccd_sea_052_1718_l_1a_083118.zip

Adding csv to membership_df  ccd_sea_052_1718_l_1a_083118.csv

Opening file: state/2018-2019/Data/Membership/ccd_sea_052_1819_l_1a_091019.zip

Adding csv to membership_df  ccd_sea_052_1819_l_1a_091019.csv

Opening file: state/2016-2017/data/membership/ccd_sea_052_1617_l_1a_11212017_csv.zip

Adding csv to membership_df  ccd_sea_052_1617_l_1a_11212017.csv

Years  ['2017-2018' '2018-2019' '2016-2017']

Columns:  ['SCHOOL_YEAR' 'FIPST' 'STATENAME' 'ST' 'SEA_NAME' 'STATE_AGENCY_NO'
 'GRADE' 'RACE_ETHNICITY' 'SEX' 'STUDENT_COUNT' 'TOTAL_INDICATOR'
 'DMS_FLAG']

TOTAL_INDICATOR:  ['Category Set A - By Race/Ethnicity; Sex; Grade'
 'Derived - Education Unit Total minus Adult Education Count'
 'Derived - Subtotal by Race/Ethnicity and Sex minus Adult Education Count'
 'Education Unit Total' 'Subtotal 4 - By Grade']

,SCHOOL_YEAR,FIPST,STATENAME,ST,SEA_NAME,STATE_AGENCY_NO,GRADE,RACE_ETHNICITY,SEX,STUDENT_COUNT,TOTAL_INDICATOR,DMS_FLAG
0,2017-2018,1,ALABAMA,AL,Alabama State Department of Education,1,Grade 1,American Indian or Alaska Native,Female,241.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
1,2017-2018,1,ALABAMA,AL,Alabama State Department of Education,1,Grade 1,American Indian or Alaska Native,Male,256.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
2,2017-2018,1,ALABAMA,AL,Alabama State Department of Education,1,Grade 1,Asian,Female,395.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
3,2017-2018,1,ALABAMA,AL,Alabama State Department of Education,1,Grade 1,Asian,Male,397.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
4,2017-2018,1,ALABAMA,AL,Alabama State Department of Education,1,Grade 1,Black or African American,Female,8924.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
...,...,...,...,...,...,...,...,...,...,...,...,...
14470,2016-2017,78,U.S. VIRGIN ISLANDS,VI,U.S. Virgin Islands Department of Education,1,Grade 8,No Category Codes,No Category Codes,953.0,Subtotal 4 - By Grade,Reported
14471,2016-2017,78,U.S. VIRGIN ISLANDS,VI,U.S. Virgin Islands Department of Education,1,Grade 9,No Category Codes,No Category Codes,1401.0,Subtotal 4 - By Grade,Reported
14472,2016-2017,78,U.S. VIRGIN ISLANDS,VI,U.S. Virgin Islands Department of Education,1,Kindergarten,No Category Codes,No Category Codes,886.0,Subtotal 4 - By Grade,Reported
14473,2016-2017,78,U.S. VIRGIN ISLANDS,VI,U.S. Virgin Islands Department of Education,1,Not Specified,Not Specified,Not Specified,0.0,Subtotal 4 - By Grade,Derived
14474,2016-2017,78,U.S. VIRGIN ISLANDS,VI,U.S. Virgin Islands Department of Education,1,Pre-Kindergarten,No Category Codes,No Category Codes,0.0,Subtotal 4 - By Grade,Reported

### Student count by State and Year

Create a table that counts how many students where enrolled in 2018-2019 at a State level. We can use groupby state, then filter out the Totat_indicator category that shows all student in that school, then sum that number. Note that the dataset counts students multiple times when dividing by grade/gender or ethnicity/grade. We can verify our results here: https://nces.ed.gov/ccd/elsi/tableGenerator.aspx

In [14]:
state_counts = membership_df[membership_df.TOTAL_INDICATOR == "Derived - Education Unit Total minus Adult Education Count"].groupby(['SCHOOL_YEAR', 'STATENAME']).sum()

pd.options.display.max_rows =200
state_counts

       12                1
            GEORGIA                                      13                1
            GUAM                                         66                1
            HAWAII                                       15                1
            IDAHO                                        16                1
            ILLINOIS                                     17                1
            INDIANA                                      18                1
            IOWA                                         19                1
            KANSAS                                       20                1
            KENTUCKY                                     21                1
            LOUISIANA                                    22                1
            MAINE                                        23                1
            MARYLAND                                     24                1
            MASSACHUSETTS                                25                1
            MICHIGAN                                     26                1
            MINNESOTA                                    27                1
            MISSISSIPPI                                  28                1
            MISSOURI                                     29                1
            MONTANA                                      30                1
            NEBRASKA                                     31                1
            NEVADA                                       32                1
            NEW HAMPSHIRE                                33                1
            NEW JERSEY                                   34                1
            NEW MEXICO                                   35                1
            NEW YORK                                     36                1
            NORTH CAROLINA                               37                1
            NORTH DAKOTA                                 38                1
            OHIO                                         39                1
            OKLAHOMA                                     40                1
            OREGON                                       41                1
            PENNSYLVANIA                                 42                1
            PUERTO RICO                                  72                1
            RHODE ISLAND                                 44                1
            SOUTH CAROLINA                               45                1
            SOUTH DAKOTA                                 46                1
            TENNESSEE                                    47                1
            TEXAS                                        48                1
            U.S. VIRGIN ISLANDS                          78                1
            UTAH                                         49                1
            VERMONT                                      50                1
            VIRGINIA                                     51                1
            WASHINGTON                                   53                1
            WEST VIRGINIA                                54                1
            WISCONSIN                                    55                1
            WYOMING                                      56                1
2018-2019   ALABAMA                                       1                1
            ALASKA                                        2                1
            AMERICAN SAMOA                               60                1
            ARIZONA                                       4                1
            ARKANSAS                                      5                1
            BUREAU OF INDIAN EDUCATION                   59                1
            CALIFORNIA                                    6                1
            COLORADO                                      8                1
            CONNECTICUT                                   9                1
            DELAWARE                                     10                1
            DISTRICT OF COLUMBIA                         11                1
            FLORIDA                                      12                1
            GEORGIA                                      13                1
            GUAM                                         66                1
            HAWAII                                       15                1
            IDAHO                                        16                1
            ILLINOIS                                     17                1
            INDIANA                                      18                1
            IOWA                                         19                1
            KANSAS                                       20                1
            KENTUCKY                                     21                1
            LOUISIANA                                    22                1
            MAINE                                        23                1
            MARYLAND                                     24                1
            MASSACHUSETTS                                25                1
            MICHIGAN                                     26                1
            MINNESOTA                                    27                1
            MISSISSIPPI                                  28                1
            MISSOURI                                     29                1
            MONTANA                                      30                1
            NEBRASKA                                     31                1
            NEVADA                                       32                1
            NEW HAMPSHIRE                                33                1
            NEW JERSEY                                   34                1
            NEW MEXICO                                   35                1
            NEW YORK                                     36                1
            NORTH CAROLINA                               37                1
            NORTH DAKOTA                                 38                1
            OHIO                                         39                1
            OKLAHOMA                                     40                1
            OREGON                                       41                1
            PENNSYLVANIA                                 42                1
            PUERTO RICO                                  72                1
            RHODE ISLAND                                 44                1
            SOUTH CAROLINA                               45                1
            SOUTH DAKOTA                                 46                1
            TENNESSEE                                    47                1
            TEXAS                                        48                1
            U.S. VIRGIN ISLANDS                          78                1
            UTAH                                         49                1
            VERMONT                                      50                1
            VIRGINIA                                     51                1
            WASHINGTON                                   53                1
            WEST VIRGINIA                                54                1
            WISCONSIN                                    55                1
            WYOMING                                      56                1

                                                      STUDENT_COUNT
SCHOOL_YEAR STATENAME
2016-2017   ALABAMA                                        744930.0
            ALASKA                                         132737.0
            AMERICAN SAMOA                                      0.0
            ARIZONA                                       1123137.0
            ARKANSAS                                       493447.0
            BUREAU OF INDIAN EDUCATION                      45399.0
            CALIFORNIA                                    6309138.0
            COLORADO                                       905019.0
            CONNECTICUT                                    535118.0
            DELAWARE                                       136264.0
            DEPARTMENT OF DEFENSE EDUCATION ACTIVITY            0.0
            DISTRICT OF COLUMBIA                            85850.0
            FLORIDA                                       2816791.0
            GEORGIA                                       1764346.0
            GUAM                                            30758.0
            HAWAII                                         181550.0
            IDAHO                                          297200.0
            ILLINOIS                                      2026718.0
            INDIANA                                       1049547.0
            IOWA                                           509831.0
            KANSAS                                         494347.0
            KENTUCKY                                       684017.0
            LOUISIANA                                      716293.0
            MAINE                                          180512.0
            MARYLAND                                       886221.0
            MASSACHUSETTS                                  964514.0
            MICHIGAN                                      1528666.0
            MINNESOTA                                      875021.0
            MISSISSIPPI                                    483150.0
            MISSOURI                                       915040.0
            MONTANA                                        146375.0
            NEBRASKA                                       319194.0
            NEVADA                                         473744.0
            NEW HAMPSHIRE                                  180888.0
            NEW JERSEY                                    1410421.0
            NEW MEXICO                                     336263.0
            NEW YORK                                      2729776.0
            NORTH CAROLINA                                1550062.0
            NORTH DAKOTA                                   109706.0
            OHIO                                          1710143.0
            OKLAHOMA                                       693903.0
            OREGON                                         578947.0
            PENNSYLVANIA                                  1727497.0
            PUERTO RICO                                    365181.0
            RHODE ISLAND                                   142150.0
            SOUTH CAROLINA                                 771250.0
            SOUTH DAKOTA                                   136302.0
            TENNESSEE                                     1001562.0
            TEXAS                                         5360849.0
            U.S. VIRGIN ISLANDS                             13194.0
            UTAH                                           659801.0
            VERMONT                                         88428.0
            VIRGINIA                                      1287026.0
            WASHINGTON                                    1101711.0
            WEST VIRGINIA                                  273855.0
            WISCONSIN                                      864432.0
            WYOMING                                         94170.0
2017-2018   ALABAMA                                        742444.0
            ALASKA                                         132872.0
            AMERICAN SAMOA                                  12620.0
            ARIZONA                                       1110851.0
            ARKANSAS                                       496085.0
            BUREAU OF INDIAN EDUCATION                      46330.0
            CALIFORNIA                                    6304266.0
            COLORADO                                       910280.0
            CONNECTICUT                                    531288.0
            DELAWARE                                       136293.0
            DISTRICT OF COLUMBIA                            87315.0
            FLORIDA                                       2832424.0
            GEORGIA                                       1768642.0
            GUAM                                            30112.0
            HAWAII                                         180837.0
            IDAHO                                          301186.0
            ILLINOIS                                      2005153.0
            INDIANA                                       1054187.0
            IOWA                                           511850.0
            KANSAS                                         497088.0
            KENTUCKY                                       680978.0
            LOUISIANA                                      715135.0
            MAINE                                          180473.0
            MARYLAND                                       893684.0
            MASSACHUSETTS                                  964791.0
            MICHIGAN                                      1516398.0
            MINNESOTA                                      884944.0
            MISSISSIPPI                                    478321.0
            MISSOURI                                       915472.0
            MONTANA                                        149474.0
            NEBRASKA                                       323766.0
            NEVADA                                         485785.0
            NEW HAMPSHIRE                                  179433.0
            NEW JERSEY                                    1408102.0
            NEW MEXICO                                     334345.0
            NEW YORK                                      2724663.0
            NORTH CAROLINA                                1553513.0
            NORTH DAKOTA                                   111920.0
            OHIO                                          1704399.0
            OKLAHOMA                                       695092.0
            OREGON                                         608014.0
            PENNSYLVANIA                                  1726809.0
            PUERTO RICO                                    346096.0
            RHODE ISLAND                                   142949.0
            SOUTH CAROLINA                                 777507.0
            SOUTH DAKOTA                                   137823.0
            TENNESSEE                                     1001967.0
            TEXAS                                         5401341.0
            U.S. VIRGIN ISLANDS                             10868.0
            UTAH                                           668274.0
            VERMONT                                         88028.0
            VIRGINIA                                      1291462.0
            WASHINGTON                                    1110367.0
            WEST VIRGINIA                                  272266.0
            WISCONSIN                                      860753.0
            WYOMING                                         94258.0
2018-2019   ALABAMA                                        739716.0
            ALASKA                                         130963.0
            AMERICAN SAMOA                                  12106.0
            ARIZONA                                       1141511.0
            ARKANSAS                                       495291.0
            BUREAU OF INDIAN EDUCATION                      43706.0
            CALIFORNIA                                    6272734.0
            COLORADO                                       911536.0
            CONNECTICUT                                    526634.0
            DELAWARE                                       138405.0
            DISTRICT OF COLUMBIA                            88493.0
            FLORIDA                                       2846444.0
            GEORGIA                                       1767202.0
            GUAM                                            29719.0
            HAWAII                                         181278.0
            IDAHO                                          310522.0
            ILLINOIS                                      1982327.0
            INDIANA                                       1055706.0
            IOWA                                           514833.0
            KANSAS                                         497733.0
            KENTUCKY                                       677821.0
            LOUISIANA                                      711783.0
            MAINE                                          180461.0
            MARYLAND                                       896827.0
            MASSACHUSETTS                                  962297.0
            MICHIGAN                                      1504194.0
            MINNESOTA                                      889304.0
            MISSISSIPPI                                    471298.0
            MISSOURI                                       913441.0
            MONTANA                                        148844.0
            NEBRASKA                                       326392.0
            NEVADA                                         492640.0
            NEW HAMPSHIRE                                  178515.0
            NEW JERSEY                                    1400069.0
            NEW MEXICO                                     333537.0
            NEW YORK                                      2700833.0
            NORTH CAROLINA                                1552497.0
            NORTH DAKOTA                                   113845.0
            OHIO                                          1695762.0
            OKLAHOMA                                       698891.0
            OREGON                                         609507.0
            PENNSYLVANIA                                  1730757.0
            PUERTO RICO                                    307282.0
            RHODE ISLAND                                   143436.0
            SOUTH CAROLINA                                 780882.0
            SOUTH DAKOTA                                   138975.0
            TENNESSEE                                     1007624.0
            TEXAS                                         5433471.0
            U.S. VIRGIN ISLANDS                             10718.0
            UTAH                                           677031.0
            VERMONT                                         87074.0
            VIRGINIA                                      1289367.0
            WASHINGTON                                    1123736.0
            WEST VIRGINIA                                  267976.0
            WISCONSIN                                      859333.0
            WYOMING                                         94313.0